<html>
	<head>
		<title>Панель управления</title>
		<meta charset='utf-8' />
		<link
			href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x'
			crossorigin='anonymous'
		/>
	</head>

	<body>
		{{> menu}}

		<div class='container mt-3'>
      <h1>Панель управления</h1>

			<form class="row g-2" id="parseForm">
				<div class="col-auto">
					<label for="query" class="visually-hidden">Поисковый запрос</label>
					<input type="text" name="query" class="form-control" id="query" placeholder="Поисковый запрос">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary mb-1" id="parse">Спарсить</button>
				</div>
			</form>
			
			<div class='row mt-2'>
				<div class='col'>
					<table class='table table-bordered table-hover'>
						<thead>
							<tr>
								<th scope='col'>#</th>
								<th>Запрос</th>
								<th>Кол-во ссылок</th>
								<th>Статус парсинга</th>
								<th>Действия</th>
							</tr>
						</thead>
						<tbody>
							{{#each queries}}
								<tr>
									<th scope='row'>{{this.Id}}</th>
									<td>{{this.Query}}</td>
									<td>{{this.CurrentLink}} / {{this.LinksCount}}</td>
									<td>{{this.Status}} {{this.Error}}</td>
									<td class="d-flex justify-content-center">
										<div class="btn-group" role="group" aria-label="Basic example">
  										<a href='{{this.Output}}' class='btn btn-primary'>Результаты</a>
  										<a href='/dashboard/results?id={{this.Id}}' class='btn btn-success'>Детальней</a>
										</div>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script src="/scripts/parse.js"></script>
		{{> footer}}
	</body>
</html>