<html>
	<head>
		<title>Результаты парсинга</title>
		<meta charset='utf-8' />
		<link
			href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x'
			crossorigin='anonymous'
		/>
	</head>

	<body>
		{{> menu}}

		<div class='container'>
			<div class='row'>
				<div class='col'>
					<nav aria-label="breadcrumb" class="mt-3">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/dashboard">Панель управления</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{Query}}</li>
						</ol>
					</nav>
					<div class="card mb-3 col-12">
						<div class="row g-0">
							
							<div class="col-md-12">
								<div class="card-body">
									<h4 class="card-title">{{Query}} <span class="badge bg-secondary">#{{Id}}</span></h4>
									<p class="card-text">
										Статус парсинга: {{Status}} <a class="btn btn-primary ms-2" href="/dashboard/details/{{Id}}">Обновить <i style="height: 20px; margin-top: -3px;" data-feather="refresh-ccw"></i></a>
									</p>
									<h4>{{CurrentLink}} из {{LinksCount}} ссылок</h4>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{Progress}}%" aria-valuenow="{{Progress}}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									{{#if Phones}}
										<p class="card-text">
											Номера телефона
											<ul class="list-group">
												{{#each Phones}}
													<li class="list-group-item">{{this.Phone}}</li>
												{{/each}}
											</ul>
										</p>
										{{else}}
										<h5 class="card-text">{{Phone}}</h5>
									{{/if}}
									<a href="/{{Output}}" target="_blank" download="true" class="btn btn-primary mt-3">Результат в JSON <i style="height: 20px; margin-top: -3px;" data-feather="download"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{> footer}}
	</body>
</html>
